.navbar-custom {
  background-color: rgb(0, 0, 0);
}

.img-logo {
  height: 250px;
  width: 350px;
}

@media (max-width: 576px) {
  .img-logo {
    height: 150px;
    width: 250px;
  }
}

#Hero-Section {
  background-image: url("../img/fondo\ \(7\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 650px;
}

/* #Mis-proyectos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

#Mis-proyectos {
  background-image: url("../img/fondo\ \(7\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#Acerca-de-mi {
  color: black;
}

#Contacto {
  color: black;
}

footer {
  background-color: black;
}

.button-custom {
  background-color: black;
}

.subtitulo2 {
  display: inline;
  font-size: 2em;
}

@media only screen and (max-width: 576px) {
  .subtitulo2 {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

